 /* body {
    font-family: Arial, sans-serif;
    background-color: rgb(164, 160, 160);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
     Main container styling /
    .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 20px; 
    
    }
     Category filter styling /
    .category-filter {
    margin-bottom: 20px;
    } */
   
    
    /* Loading and error messages styling */
    /* .loading,
    .error {
    text-align: center;
    margin: 20px 0;
    } */
    
    /* Article list styling */
    /* .article-list {
    flex: 1;
    }
     */
    /* Pagination container styling */
    /* .pagination-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    background-color: #cacccf;
    padding: 10px 0;
    } */
    
    /* Card styling */
    /* .card {
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 200px;
    }
    
    .card-img-top {
    height: 200px;
    object-fit: cover;
    }
    
    .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    } */
    
    /* .card-title, .card-text {
    margin-bottom: 16px;
    }
     */
    /* .btn {
    margin-top: auto;
    }  */



    /* HomePage.css */

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* background-color: rgb(164, 160, 160); /* Fallback background color */
        background-image: url('../assests//top-view-old-french-newspaper-pieces.jpg'); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
      }
      
  
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 20px; /* Adjust as needed */
  }
  
  .category-filter {
    margin-bottom: 10px; /* Reduced margin for better spacing */
  }
  
  .loading,
  .error {
    text-align: center;
    margin: 20px 0;
  }
  
  .article-list {
    flex: 0;
  }
  
  .pagination-container {
    /* position: fixed; */
    
    align-items: center;
   
    bottom: 0;
    width: 100%;
    
 
    padding: 0px 0;
  }
  