
.buttonCategory {
    display: flex;
    justify-content: space-between;

    margin-top: -80px;
    width: 100%;
    padding: 0px;
    
   background-color: white
}

.seperateButton {
    flex: 1;
    margin: 0px px; /* Adjust margin to create space between buttons */
    display: flex;
    justify-content: center;
}
